@import "tailwindcss";

@keyframes dancingbackground {
    0% {background-position: 0%;}
    25% {background-position: 50%;}
    50% {background-position: 100%;}
    75% {background-position: 50%;}
    100% {background-position: 0%;}
}

.animated-bg {
    animation: dancingbackground 20s infinite linear;
    background-size: 200% 200%;
}